﻿<div class="pt-2">
    <h1>Все автомобили</h1>
    <div class="row">
        @{
            foreach (var car in Model.AllCars)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm p-1">
                        <img class="img-thumbnail" src="@car.ImageUrl" alt="@car.Name" />
                        <div class="card-body">
                            <h2>Модель: @car.Name</h2>
                            <p>Цена: @car.Price?.ToString("c")</p>
                            <p><a class="btn btn-warning" asp-controller="CarCard" asp-action="CarCardView" asp-route-id="@car.ID">Подробнее</a></p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>