﻿@{
    var car = Model.Car;
    <div class="row">
        <img class="img-thumbnail" src="@car.ImageUrl" alt="@car.Name" />
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <h1>Модель: @car.Name</h1>
            </div>
            <div class="row">
                <h1>Описание</h1>
            </div>
            <div class="row">
                <p>@car.Description</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h1>Стоимость: @car.Price</h1>
            </div>
        </div>
    </div>
}